body{
    font-family: sans-serif;
    margin: 0;
    background-color: grey;
}

a{
    text-decoration: none;
    color: black
    
    
}
header {
    display: flex;
    min-height: 70px;
    background-color:rgba(63, 102, 5, 0.39);
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.logo {
    display: flex;
    align-items: center;
    
}
.logo img {
    height: 50px;
    margin-right: 10px;
}
nav a{
    font-weight: 800;
    padding-right: 10px;
}
nav a:hover{
    color: white;
}
.nombre-empresa{
    color: black;
    justify-content: center;
    
}
@media (max-width:700px){
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

footer{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    min-height: 20vh;
    background-color: white;
}

.footer {
    position: relative;
    width: 100;
    background-color:rgba(63, 102, 5, 0.39);
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;    
}

.social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 10px 5px;
    flex-wrap: wrap;
}

.icon-elem {
    list-style: none;
}

.icon-elem {
    color: white;
    font-size: 32px;
    display: inline-block;
    margin:  0 10px;
    transition: 0.5s;
}

.icon-elem:hover{
    transform: translateY(-10px);
}

.menu{
    display: flex;
    justify-content: center;
    position: relative;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

.menu-elem{
    list-style: none;
    
}

.menu-incon{
    color: white;
    font-size: 20px;
    display: inline-block;
    text-decoration: none;
    margin: 5px 10px;
    opacity: 0.75;
    transition: 0.3s;
}


.menu-incon:hover{
    opacity: 1;
}
.text {
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 20px;
}

